
.bg-text-container {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
z-index: -999;
}


@keyframes text-scrolling {
0% { transform: translate3d(-100%, 0, 0); }
100% { transform: translate3d(0%, 0, 0); }
}

.animate-text {
animation: text-scrolling 50s linear infinite;
will-change: transform;
display: block;
position: relative;
white-space: nowrap;
}


.bg-text-containerL {
  transform: translateX(50%);
  left: 50%;
  position: absolute;
z-index: -999;
}

@keyframes text-scrollingL {
  100% { transform: translate3d(-100%, 0, 0); }
  0% { transform: translate3d(0%, 0, 0); }
  }
  
  .animate-textL {
    animation: text-scrollingL 50s linear infinite;
    will-change: transform;
    display: block;
    position: relative;
    white-space: nowrap;
  }




#scroll {
  padding-top: .3em;
  text-align: center;
  margin: 5;
  font-size: 30px;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 99.6%;
    margin-top: 5px;
}

h1{
  color: #fff;
  position: relative;
  text-align: center;

}

form{
  color: #fff;
  position: relative;
  text-align: center;
}

h2{
  color: #fff;
  position: relative;
  text-align: center;

}

a{
  color: rgb(0, 255, 0);
}
.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #00ff95;
  }
  

  
  .container > div:nth-child(1) {
    background-color: #000000;	
  }
  
  .container > div:nth-child(2) {
    background-color: #000000;
  }
  
  .container > div:nth-child(3) {
    background-color: #000000;
  }

  .container > div:nth-child(4) {
    background-color: #000000;
  }
  .container > div {
    flex: 1;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    
    
  }
  .container > .home {
    flex: .5;
  }



  *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  .banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    top: -600px;
    z-index:-999;

  }
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: -50;
  }

  .logo {
    cursor: pointer;
  }
  
  .container ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    
  }

  .container ul li a{
  
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  
  }

  .mainContent {
    width: 100%;
    position: absolute;
    top: 15%;
    transform: translate(0);
    text-align: center;
    color: #fff;
    
  }

  .mainContent h1 {
    font-size: 70px;
    margin-top: 80px;
    font-family: 'Cyber' !important;
  }

  .mainContent p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
    background-color: #000000;
  }

.footer {
  background-color: #000000;
}


  .catalogue {  
    border: black 3px solid;

  }

  .slide {
    width: 100%;
    height: auto;
    flex: 1 0 100%;
  }
  .slides-container {
    height: auto;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;

    
  }
  .slides-container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }

section {

  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;


}

.hidden {
  opacity: 0;
 transition: all 2s;
 transform: translateX(-100%);
 filter: blur(5px);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

