
html{
    background-color: grey;

}
.container{
    border: 5px solid #ffcc5c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


p{
    color: violet;
}

h1, h2{
    color: violet;
}

footer{
    color: violet;
}

li{
    color: violet;
}

a{
    color: violet;
}
.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
  }
  

  
  .container > div:nth-child(1) {
    background-color: #96ceb4;	
  }
  
  .container > div:nth-child(2) {
    background-color: #ff6f69;
  }
  
  .container > div:nth-child(3) {
    background-color: #88d8b0;
  }

  .container > div:nth-child(4) {
    background-color: #ff6f69;
  }
  .container > div {
    flex: 1;
    
  }
  .container > .home {
    flex: .5;
  }