*{
    margin:0; 
    padding:0;
}

body{
    background-color:beige;
}

#main_container{
    width:600px;
    margin-top:20px;
    margin-right:auto;
    margin-left:auto;
    background-color:#ffffff;
    overflow: hidden;
 }

.border {
    border:10px solid #666666;
    border-radius: 15px;
    width:100px;
    height:100px;
}

h2{
    font-size: 80px;
    font-family: verdana;
    text-transform:uppercase;
    text-align: center;
    color:#666666;
}

.blue{
    color: blue;
    border-color: blue;
}

.red{
    color: red;
    border-color: red;
}

.green{
    color: green;
    border-color: green;
}

.border {
    border:10px solid;
    border-radius: 15px;
    width:100px;
    height:100px;
}



#a{
    float: left;
    margin-left: 250px;
    margin-bottom: 2px;
    margin-top: 150px;
   
}

#b{
    clear: left;
    float: left;
    margin-left: 180px;
    margin-bottom: 2px;
}
    


#c{
    float: left;
    margin-left: 1px;
    
    
}

#d{
    clear: left;
    float: left;
    margin-left: 120px;
    margin-bottom: 2px;
    
}

#e{
    float: left;
    margin-left: 2px;
    
}

#f{
    float: left;
    margin-left: 2px;
}
